html,
body,
input,
textarea {
  font-family: "Roboto", Helvetica, Arial, Lucida, sans-serif;
}

.container .main-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer {
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #666;
}

.footer .footer-text {
  color: #fff;
}

.container .banner,
.container .club-section {
  margin-bottom: 20px;
}

.container .club-section .content-card {
  padding-left: 10px;
}

.container .club-section .content-card .heading {
  margin-bottom: 10px;
  font-size: 25px;
}
.container .club-section .content-card .content {
  margin-bottom: 10px;
}
.container .club-section .content-card .highlight {
  font-weight: 600;
}

.container .club-section .content-image-slider {
  height: max-content;
}

.container .club-section .content-image-slider .content-image-wrapper {
  position: relative;
  width: 100%;
  padding-top: 75%;
}

.container
  .club-section
  .content-image-slider
  .content-image-wrapper
  .content-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container
  .club-section
  .content-image-slider
  .content-image-wrapper
  .content-image
  img {
  height: 100%;
}

.container .event-section .card.event-item {
  height: 100%;
  min-height: 200px;
}

.container .event-section .card-body.event-item-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.container .member-section p {
  margin-bottom: 30px;
}

.container .member-fee {
  text-align: center;
  margin-bottom: 30px;
}

.container .member-actions .card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .member-actions .card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  max-width: 75%;
}

.container .member-actions .card-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 25%;
}

.container .member-actions .card-submit .btn {
  width: 100%;
}

.container .member-actions .card-content .card-title,
.container .member-actions .card-content .card-date-range {
  font-weight: 900;
}

.container .member-actions .card-content .card-title {
  margin-bottom: 5px;
}
.container .member-actions .card-content .card-date-range,
.container .member-actions .card-content .card-subtitle,
.container .member-actions .card-content .card-text {
  margin-bottom: 15px;
}

.container .member-actions .card-content .card-subtitle,
.container .member-actions .card-content .card-text {
  font-weight: 100;
}

.container .member-actions .card-content .card-text {
  font-style: italic;
}